# Lambda Functions

Anonymous functions.

Single Expression Limit.

**Syntax**: `lambda args: expr`

**Example**: `lambda a, b: a + b`

In [3]:
x = lambda x : x**2
x(9)

81

In [4]:
a = lambda x, y : x + y
a(4, 5)

9

In [5]:
type(a)

function

## Lambda Function vs. Normal Function

### Lambda function:
- No return value.
- *Written in Single-line.*
- Not used for code reusability.
- *Anonymous/No name.*

### Normal function:
- Has a return value.
- Multi-line.
- Encourages code reusability via named functions.

In [7]:
# Why?

# Lambda functions are Anonymous functions ---> `lambda args: expr`,
# ideal for Higher-order functions, offers Concise function writing without naming.

In [ ]:
# Higher Order Functions:

# Functions that take/return other functions.
# Useful for Abstraction, Code reuse.

# Enhances code modularity, readability.
# Encourages functional programming.

# Can lead to Complexity and Performance overhead (if overused).

In [9]:
b = lambda x : x[0] == 'a'
b('apple')

True

In [10]:
b('banana')

False

In [11]:
b = lambda x :'Even' if x%2 == 0 else 'Odd'
b(3)

'Odd'

In [12]:
b(2)

'Even'

In [13]:
# HOF

In [14]:
L = [11, 14, 27, 21, 23, 56, 78, 39, 45, 29, 28, 30]

# Even Sum
# Odd Sum
# Div3 Sum

def return_sum(L):
    even_sum = 0
    odd_sum = 0
    div3_sum = 0
    for i in L:
        if i%2 == 0:
            even_sum = even_sum + i
    for i in L:
        if i%2 != 0:
            odd_sum = odd_sum + i
    for i in L:
        if i%3 == 0:
            div3_sum = div3_sum + i
    return(even_sum, odd_sum, div3_sum)
print(return_sum(L))

(206, 195, 240)

In [15]:
L = [11, 14, 27, 21, 23, 56, 78, 39, 45, 29, 28, 30]
def return_sum(func, L):
    result = 0
    for i in L:
        if func(i):
            result = result + i
    return result
x = lambda x : x%2 == 0 # Even Sum
y = lambda x : x%2 != 0 # Odd Sum
z = lambda x : x%3 == 0 # Div3 Sum
print(return_sum(x, L))
print(return_sum(y, L))
print(return_sum(z, L))

206
195
240

Higher-order functions (HOF) accepts *input* + define *operation of function*.

# Higher-Order Functions

1. Map
2. Filter
3. Reduce

## 1. Map

Applies a `function` to each item in `iterable`.

**Syntax**:
```python
map(function, iterable)
```

Returns an Iterator of results.

In [18]:
L = [1, 2, 3, 4, 5, 6, 7]
L

[1, 2, 3, 4, 5, 6, 7]

In [19]:
map(lambda x : x * 2, L)

In [20]:
list(map(lambda x : x * 2, L))

[2, 4, 6, 8, 10, 12, 14]

In [21]:
list(map(lambda x : x % 2 == 0, L))

[False, True, False, True, False, True, False]

In [22]:
students = [
    {
        "name" : "Jacob Martin",
        "Father name" : "Ros Martin",
        "Address" : "123 Hills Street",
    },{
        "name" : "Angela Stevens",
        "Father name" : "Robert Stevens",
        "Address" : "3 Upper Street London",
    },{
        "name" : "Ricky Smart",
        "Father name" : "William Smart",
        "Address" : "Unknown",
    }
    
]
list(map(lambda student : student["name"], students))

['Jacob Martin', 'Angela Stevens', 'Ricky Smart']

## 2. Filter

Applies a `function` to `sequence`.

**Syntax**:
```python
filter(function, sequence)
```

Returns elements where `function` is `True`.

In [24]:
L

[1, 2, 3, 4, 5, 6, 7]

In [25]:
list(filter(lambda x : x > 4, L))

[5, 6, 7]

In [26]:
fruits = ["Apple", "Orange", "Mango", "Guava"]

In [27]:
list(filter(lambda fruit : "e" in  fruit, fruits))

['Apple', 'Orange']

## 3. Reduce

Reduces an iterable to a single value.

**Syntax**:
```python
from functools import reduce
reduce(function, iterable)
```

Operates on pairs of elements until a single value remains.

Useful for Cumulative Operations (e.g., sum, product).

In [29]:
import functools

In [30]:
L

[1, 2, 3, 4, 5, 6, 7]

In [31]:
functools.reduce(lambda x, y : x + y, L)

28

In [32]:
L1 = [12, 34, 56, 11, 21, 58]
L1

[12, 34, 56, 11, 21, 58]

In [33]:
functools.reduce(lambda x, y : x if x>y else y, L1)

58

In [34]:
functools.reduce(lambda x, y : x if x<y else y, L1)

11