# Sets

Unordered, unique elements.

Set is mutable; elements are immutable.

**Operations:** Union, intersection, symmetric difference, etc.

## Characteristics: 
- **Unordered**
- **Mutable**
- **Unique Elements**
- **No Mutable Data Types**

## Important Rules about Sets

- **No Duplicates**
- **No Indexing/Slicing**
- **No Mutable Elements**
- **Set is Mutable**

1. Create
2. Access
3. Edit
4. Add
5. Delete
6. Operations
7. Functions

### 1. Create

In [2]:
# empty
S1 = {}
S1

{}

In [3]:
type(S1)

dict

In [4]:
S1 = set()
S1

set()

In [5]:
type(S1)

set

In [6]:
# 1D & 2D Sets
S1 = {1, 2, 3, 4, 5} # 1D Set
S1
# S2 = {1, 2, 3, {4, 5}} # 2D Set
# S2

{1, 2, 3, 4, 5}

In [7]:
# homo and hetro
S2 = {"Hello", 4.5, True}
S2

{4.5, 'Hello', True}

In [8]:
# Type Conversion
s4 = set([1, 2, 3])
print(s4)

{1, 2, 3}

In [9]:
# duplicates not allowed
S3 = {1, 1, 2, 2, 3, 3}
S3

{1, 2, 3}

In [10]:
S4 = {[1, 2, 3], "Hello"}
S4

TypeError: unhashable type: 'list'

In [ ]:
S4 = {(1, 2, 3), "Hello"}
S4

In [ ]:
# set can't have mutable items
s6 = {1, 2, [3, 4]}
print(s6)

In [11]:
# Sets have no indexing
# Hashing

In [12]:
S5 = {{1}, {2}}

TypeError: unhashable type: 'set'

In [13]:
s1 = {1, 2, 3}
s2 = {3, 2, 1}
print(s1 == s2)

True

### 2. Access

In [14]:
S1

{1, 2, 3, 4, 5}

In [15]:
S1[0]

TypeError: 'set' object is not subscriptable

In [16]:
S1[-1]

TypeError: 'set' object is not subscriptable

In [17]:
S1[0:3]

TypeError: 'set' object is not subscriptable

### 3. Edit

In [18]:
S1[2] = 100

TypeError: 'set' object does not support item assignment

In [19]:
S1

{1, 2, 3, 4, 5}

In [20]:
id(S1)

1682006879008

In [21]:
L = list(S1)
L

[1, 2, 3, 4, 5]

In [22]:
L[0] = 100
L

[100, 2, 3, 4, 5]

In [23]:
S1 = set(L)
S1

{2, 3, 4, 5, 100}

In [24]:
id(S1)

1682036493888

### 4. Add

In [25]:
S1

{2, 3, 4, 5, 100}

In [26]:
S1.add(6)
S1

{2, 3, 4, 5, 6, 100}

In [27]:
id(S1)

1682036493888

In [28]:
S1.add(7)
S1

{2, 3, 4, 5, 6, 7, 100}

In [29]:
id(S1)

1682036493888

In [30]:
S1.update([5, 6, 7])
print(S1)

{2, 3, 100, 5, 4, 6, 7}

### 5. Delete

- `del`
- `remove()`
- `pop()`
- `discard()`
- `clear()`

In [32]:
S2

{4.5, 'Hello', True}

In [33]:
del S2
S2

NameError: name 'S2' is not defined

In [34]:
del S1[0]

TypeError: 'set' object doesn't support item deletion

In [35]:
S1

{2, 3, 4, 5, 6, 7, 100}

In [36]:
S1.remove(100)
S1

{2, 3, 4, 5, 6, 7}

In [37]:
S1.pop()
S1

{3, 4, 5, 6, 7}

In [38]:
S1.pop()
S1

{4, 5, 6, 7}

In [39]:
S1.discard(7)
S1

{4, 5, 6}

In [40]:
S1.clear()
S1

set()

### 6. Operations

In [41]:
S1 = {1, 2, 3, 4, 5}
S2 = {3, 4, 5, 6, 7}

In [42]:
S1 + S2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [43]:
S1 * 3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [44]:
# Iteration
for i in S1:
    print(i)

1
2
3
4
5

In [45]:
# Membership Test
1 in S1

True

In [46]:
1 not in S1

False

In [47]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [48]:
# Union(|)
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [49]:
# Intersection(&)
s1 & s2

{4, 5}

In [50]:
# Difference(-)
s1 - s2
s2 - s1

{6, 7, 8}

In [51]:
# Symmetric Difference(^)
s1 ^ s2

{1, 2, 3, 6, 7, 8}

### 7. Functions

- `len()`
- `min()`
- `max()`
- `sorted()`

In [53]:
len(S1)

5

In [54]:
min(S1)

1

In [55]:
max(S1)

5

In [56]:
sorted(S1)

[1, 2, 3, 4, 5]

In [57]:
sorted(S1, reverse = True)

[5, 4, 3, 2, 1]

In [58]:
S1

{1, 2, 3, 4, 5}

In [59]:
S2

{3, 4, 5, 6, 7}

In [60]:
S1.union(S2)

{1, 2, 3, 4, 5, 6, 7}

In [61]:
S1.intersection(S2)

{3, 4, 5}

In [62]:
S1.difference(S2)

{1, 2}

In [63]:
S2.difference(S1)

{6, 7}

In [64]:
S1.symmetric_difference(S2)

{1, 2, 6, 7}

In [65]:
S1.isdisjoint(S2)

False

In [66]:
S1.issubset(S2)

False

In [67]:
S1.issuperset(S2)

False

In [68]:
S1.clear()
S1

set()

In [69]:
# copy
s1 = {1, 2, 3}
s2 = s1.copy()
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

## Frozen set

- Immutable set.
- Created via `frozenset()`.
- No modifications post-creation.
- Ideal for hashable items: **strings**, **numbers**.

In [70]:
# create frozenset
fs1 = frozenset([1, 2, 3])
fs2 = frozenset([3, 4, 5])
fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [71]:
# what works and what does not
# Works       ---> all read functions
# Doesn't Work ---> write operations

In [72]:
# When to use
# 2D sets
fs = frozenset([1, 2, frozenset([3, 4])])
fs

frozenset({1, 2, frozenset({3, 4})})

## Set Comprehension

In [73]:
# examples
{i**2 for i in range(1, 11) if i>5}

{36, 49, 64, 81, 100}