# Python Data Types Categories

## Basic Types:
- **`Int`**: Whole nums (1, 2, 3).
- **`Float`**: Decimals (3.14, 2.5).
- **`Complex`**: Real+Imag (1 + 2j).
- **`Bool`**: True/False.
- **`Str`**: Text ("hello").

## Container Types:
- **`List`**: Ordered items.
  ```python
  [1, 2, 3]
  ```
- **`Tuple`**: Ordered, immutable.
  ```python
  (1, 2, 3)
  ```
- **`Set`**: Unordered, unique.
  ```python
  {1, 2, 3}
  ```
- **`Dict`**: Key-value pairs.
  ```python
  {'k1': 'v1', 'k2': 'v2'}
  ```

## User-Defined Types:
- **`Class`**: Obj blueprint.

### int

In [1]:
# Numbers
print(4)

# Large Numbers
print(1e308)  # 1 * 10^308
print(1e309)  # 'inf' (exceeds float limit)

4
1e+308
inf

### float

In [1]:
# Floating-Point Numbers
print(4.5)  # Standard

# Large Floating-Point Numbers
print(1.8e307)  # Large
print(1.8e308)  # Larger
print(1.9e308)  # Too large (inf)

4.5
1.8e+307
inf
inf

### bool

In [3]:
# Boolean Values
print(True)
print(False)

True
False

### complex

In [4]:
# Complex Number
print(4 + 5j)

(4+5j)

### str

In [5]:
# Strings with Different Quotation Styles
print('Kolkata')       # single quotes
print("Kolkata")       # double quotes
print('''Kolkata''')   # triple single quotes
print("""Kolkata""")   # triple double quotes

Kolkata
Kolkata
Kolkata
Kolkata

### list

In [6]:
# List
print([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

### tuple

In [7]:
# Tuple
print((1, 2, 3, 4, 5))

(1, 2, 3, 4, 5)

### set

In [8]:
# Set
print({1, 2, 3, 4, 5})

{1, 2, 3, 4, 5}

### dict

In [9]:
# Dictionary
print({"Name": "Saurabh", "Age": 22, "Gender": "Male"})

{'Name': 'Saurabh', 'Age': 22, 'Gender': 'Male'}