# Tuples

Immutable list-like collection.

## Characteristics:
- Ordered elements.
- Unmodifiable post-creation.
- Allows duplicates.

1. Create
2. Access
3. Edit
4. Add
5. Delete
6. Operations
7. Functions

### 1. Create

In [1]:
# empty
T1 = ()
T1

()

In [2]:
# homo
T2 = (1, 2, 3, 4, 5)
T2

(1, 2, 3, 4, 5)

In [3]:
# hetro
T3 = ("Hello", 4, 5, 6)
T3

('Hello', 4, 5, 6)

In [4]:
# tuple
T4 = (1, 2, 3, (4, 5))
T4

(1, 2, 3, (4, 5))

In [5]:
T5 = (1)
T5

1

In [6]:
type(T5)

int

In [7]:
# Type Conversion
T5 = ("Hello")
type(T5)

str

In [8]:
# Single-item tuple creation
T5 = ("Hello",)
type(T5)

tuple

In [9]:
T6 = tuple("Goa")
T6

('G', 'o', 'a')

In [10]:
T6 = tuple([1, 2, 3, 4])
T6

(1, 2, 3, 4)

### 2. Access

- Indexing
- Slicing

In [11]:
T2

(1, 2, 3, 4, 5)

In [12]:
T2[0]

1

In [13]:
T2[-1]

5

In [14]:
T2[:4]

(1, 2, 3, 4)

In [15]:
T4

(1, 2, 3, (4, 5))

In [16]:
T4[-1][0]

4

### 3. Edit

In [17]:
L = [1, 2, 3, 4, 5]

In [18]:
L[0] = 100
L

[100, 2, 3, 4, 5]

In [19]:
T2

(1, 2, 3, 4, 5)

In [20]:
T2[0] = 100
# Immutable, like strings

TypeError: 'tuple' object does not support item assignment

In [21]:
# Tuples = immutable (like strings)

### 4. Add

In [22]:
# not possible
# Tuples: immutable

### 5. Delete

In [23]:
T1

()

In [24]:
del T1
T1

NameError: name 'T1' is not defined

In [25]:
T3

('Hello', 4, 5, 6)

In [26]:
T2

(1, 2, 3, 4, 5)

In [27]:
del T2(-1)

SyntaxError: cannot delete function call (Temp/ipykernel_22232/1610192391.py, line 1)

In [28]:
# Tuples are immutable

### 6. Operations

In [29]:
T2

(1, 2, 3, 4, 5)

In [30]:
T3

('Hello', 4, 5, 6)

In [ ]:
# + and *

In [31]:
T2 + T3

(1, 2, 3, 4, 5, 'Hello', 4, 5, 6)

In [32]:
T2 * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [33]:
# iteration
for i in T2:
    print(i)

1
2
3
4
5

In [34]:
# membership
1 in T2

True

### 7. Functions

In [35]:
len(T2)

5

In [36]:
min(T2)

1

In [37]:
max(T2)

5

In [38]:
sum(T2)

15

In [39]:
sorted(T2)

[1, 2, 3, 4, 5]

In [40]:
sorted(T2, reverse = True)

[5, 4, 3, 2, 1]

In [1]:
# count
t = (1, 2, 3, 4, 5)
t.count(50)

0

In [2]:
# index
t.index(50)

ValueError: tuple.index(x): x not in tuple

## Lists vs Tuples

### Syntax:
  - Lists: `[ ]`  
  - Tuples: `( )`

### Mutability:
  - Lists: Mutable  
  - Tuples: Immutable

### Speed:
  - Lists: Slower (mutable)  
  - Tuples: Faster (immutable)

### Memory:
  - Lists: Higher  
  - Tuples: Lower

### Functionality:
  - Both: Indexing, slicing  
  - Lists: More methods

### Error-Prone:
  - Lists: Modifiable  
  - Tuples: Safer

### Use Case:
  - Lists: Dynamic  
  - Tuples: Static

In [3]:
import time 
L = list(range(100000000))
T = tuple(range(100000000))

# List timing
start = time.time()
for i in L:
  i*5
print('List time', time.time()-start)

# Tuple timing
start = time.time()
for i in T:
  i*5
print('Tuple time', time.time()-start)

List time 9.570151567459106
Tuple time 8.412890911102295

In [4]:
import sys
L = list(range(1000))
T = tuple(range(1000))
print('List size', sys.getsizeof(L))
print('Tuple size', sys.getsizeof(T))

List size 8056
Tuple size 8040

In [5]:
a = [1, 2, 3]
b = a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [6]:
a = (1, 2, 3)
b = a
a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

## Q. Why use Tuples?

- Immutable; prevents changes.
- Ensures data integrity.
- Use for fixed collections.
- Example:
  ```python
  college_database = ('CS', 'Math', 'Physics')
  # college_database[0] = 'Electronics'  # TypeError
  ```
- Use for static data; lists for mutable.

## Special Syntax

In [7]:
# tuple unpacking
a, b, c = (1, 2, 3)
print(a, b, c)

1 2 3

In [8]:
a, b = (1, 2, 3)
print(a, b)

ValueError: too many values to unpack (expected 2)

In [9]:
a = 1
b = 2
a, b = b, a
print(a, b)

2 1

In [10]:
a, b, *others = (1, 2, 3, 4)
print(a, b)
print(others)

1 2
[3, 4]

In [11]:
# zipping tuples
a = (1, 2, 3, 4)
b = (5, 6, 7, 8)
tuple(zip(a, b))

((1, 5), (2, 6), (3, 7), (4, 8))